APP_NAME=fraude-back
APP_ENV=development
API_V1_STR=/api/v1
SQLALCHEMY_ECHO=false

# Local PostgreSQL:
# DATABASE_URL=postgresql+psycopg2://usuario:password@localhost:5432/fraude_back
# Neon / cloud (añadir ?sslmode=require):
DATABASE_URL=postgresql+psycopg2://usuario:password@host.neon.tech:5432/nombre_db?sslmode=require

GMAIL_CLIENT_SECRET_FILE=credentials.json
GMAIL_TOKEN_FILE=token.json
GMAIL_DOWNLOAD_DIR=storage/gmail_attachments
GMAIL_WATCH_TOPIC=
GMAIL_KEYWORDS=SINIESTRO,RECLAMO
GMAIL_QUERY_HOURS_BACK=48
GMAIL_MAX_RESULTS=50

ENABLE_PDF_OCR=true
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1
